body {
  margin: 0;
}

.radix-themes {
  --color-background: #f3f4f6;
}

.stats-card {
  width: 100%;
  padding-bottom: 1rem;
}

.stats-card::before {
  background-color: #f3f4f6;
}

.view-switcher {
  background-color: #e5e7eb;
}
